/*============================================================================*/
/*root*/
:root {
    /*<-----------------------SETTINGS------------------------->*/
    /*media*/
    --media-bp-s:;
    --media-bp-m:;
    --media-bp-l:;
    --media-bp-ll:;
    /*volume*/
    --volume-none:none;
    --volume-0:0;
    --volume-1:0.1;
    --volume-2:0.2;
    --volume-3:0.3;
    --volume-4:0.4;
    --volume-5:0.5;
    --volume-6:0.6;
    --volume-7:0.7;
    --volume-8:0.8;
    --volume-9:0.9;
    --volume-10:1;
    --volume-12:1.2;
    --volume-14:1.4;
    --volume-16:1.6;
    --volume-18:1.8;
    --volume-20:2;
    --volume-22:2.2;
    --volume-24:2.4;
    --volume-26:2.6;
    --volume-28:2.8;
    --volume-30:3;
    --volume-40:4;
    --volume-50:5;
    /*color*/
    --color-white:#fff;
    --color-black:#000;
    --color-eee:#eee;
    --color-dfdfdf:#dfdfdf;
    --color-f7f4f4:#f7f4f4;
    --color-dddddd:#dddddd;
    --color-3f3f3f:#3f3f3f;
    --color-afafaf:#afafaf;
    /*border-width*/(
    --border-width-base:calc(var(--volume-1) * 1rem);
    --border-width-volatility:calc(var(--volume-1) * 1rem);
    --border-width-none:0;
    --border-width-s:calc(var(--border-width-base)); 
    --border-width-m:calc(var(--border-width-s) + var(--border-width-volatility));
    --border-width-l:calc(var(--border-width-m) + var(--border-width-volatility));
    --border-width-ll:calc(var(--border-width-l) + var(--border-width-volatility));
    /*font-size*/
    --font-size-xs:calc(var(--volume-8) * 1rem);
    --font-size-ss:calc(var(--volume-10) * 1rem);
    --font-size-s:calc(var(--volume-12) * 1rem);
    --font-size-m:calc(var(--volume-14) * 1rem);
    --font-size-l:calc(var(--volume-16) * 1rem);
    --font-size-ll:calc(var(--volume-18) * 1rem);
    --font-size-xl:calc(var(--volume-20) * 1rem);
    /*<------------------------------------------------------>*/
    /*button*/
    --button-style-border:var(--volume-0);
    --button-style-border-radius:calc(var(--volume-2) * 1rem);
    --button-style-padding-s-s:;
    --button-style-padding-s-m:;
    --button-style-padding-s-l:;
    --button-style-padding-m-s:;
    --button-style-padding-m-m:;
    --button-style-padding-m-l:;
    --button-style-padding-l-s:;
    --button-style-padding-l-m:;
    --button-style-padding-l-l:;
    --button-style-font-size-s-s:;
    --button-style-font-size-s-m:;
    --button-style-font-size-s-l:;
    --button-style-font-size-m-s:;
    --button-style-font-size-m-m:;
    --button-style-font-size-m-l:;
    --button-style-font-size-l-s:;
    --button-style-font-size-l-m:;
    --button-style-font-size-l-l:;
    --button-style-font-weight:bold;
    --button-style-text-align:center;
    --button-style-cursor:pointer;
    --button-hover-opacity:var(--volume-6);
    --button-disabled-opacity:var(--volume-6);
    --button-disabled-pointer-events:none;
    /*a*/
    /*scrollbar*/
    --scrollbar-color-track:var(--color-dddddd);
    --scrollbar-color-thumb:var(--color-3f3f3f);
    --scrollbar-width:calc(var(--volume-8) * 1rem);
    --scrollbar-height:calc(var(--volume-8) * 1rem);
    /*content*/
    --content-color:;
    --content-background-color:var(--color-f7f4f4);
    --content-outline-border-width:calc(var(--volume-3) * 1rem);
    --content-outline-border-color:var(--color-dfdfdf);
    --content-outline-border-style:solid;
    --content-outline-border:var(--content-outline-border-width) var(--content-outline-border-color) var(--content-outline-border-style);
    /*pagetop*/
    --pagetop-right:calc(var(--volume-30) * 1rem);
    --pagetop-bottom:calc(var(--volume-20) * 1rem);
    --pagetop-padding:calc(var(--volume-7) * 1rem) 0;
    --pagetop-color:var(--color-white);
    --pagetop-background:var(--color-black);
    --pagetop-border:var(--volume-0);
    --pagetop-border-radius:calc(var(--volume-2) * 1rem);
    --pagetop-opacity:var(--volume-6);
    --pagetop-hover-opacity:var(--volume-8);
    --pagetop-inner-icon-width:calc(var(--volume-20) * 1rem);
    --pagetop-inner-icon-height:calc(var(--volume-20) * 1rem);
    --pagetop-inner-icon-border:calc(var(--volume-4) * 1rem) solid var(--pagetop-color);
    --pagetop-inner-font-size:calc(var(--volume-10) * 1rem);
    --pagetop-inner-font-weight:bold;
    /*table*/
    --table-color:var(--color-3f3f3f);
    --table-th-color:var(--color-3f3f3f);
    --table-td-color:var(--color-3f3f3f);
    --table-th-background-color:var(--color-dddddd);
    --table-td-background-color:transparent;
    --table-border-width:calc(var(--volume-1) * 1rem);
    --table-border-color:var(--color-afafaf);
    --table-border-style:solid;
    --table-border:var(--table-border-width) var(--table-border-color) var(--table-border-style);
    --table-th-font-size:;
    --table-td-font-size:;
    --table-padding:calc(var(--volume-12) * 1rem);
    /*tabcontents*/
    --tab-contents-width:100%;
    --tab-contents-margin:;
    --tab-contents-padding:;
    --tab-contents-label-color:var(--color-3f3f3f);
    --tab-contents-label-checked-color:var(--color-eee);
    --tab-contents-label-background-color:var(--color-dddddd);
    --tab-contents-label-checked-background-color:var(--color-3f3f3f);
    --tab-contents-label-margin:;
    --tab-contents-label-padding:calc(var(--volume-10) * 1rem) 0;
    --tab-contents-label-font-size:;
    --tab-contents-label-font-weight:bold;
}
/*============================================================================*/
/*----------共通----------*/
/*スクロールバー*/
::-webkit-scrollbar{
    width:var(--scrollbar-width);
    height:var(--scrollbar-height);
}
::-webkit-scrollbar-track{
    background-color:var(--scrollbar-color-track);
}
::-webkit-scrollbar-thumb{
    background-color:var(--scrollbar-color-thumb);
}
/*ページトップボタン*/
#pagetop {
    position:fixed;
    right:var(--pagetop-right);
    bottom:var(--pagetop-bottom);
}
#pagetop:hover {
    opacity:var(--pagetop-hover-opacity);
}
.js-added-pagetop {
    width:7.5rem;
    height:5rem;
    padding:var(--pagetop-padding);
    color:var(--pagetop-color);
    background:var(--pagetop-background);
    border:var(--pagetop-border);
    border-radius:var(--pagetop-border-radius);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;
    z-index:500;
    opacity:var(--pagetop-opacity);
}
.js-added-pagetop:hover {
    text-decoration:none;
}
.js-added-pagetop-arrow {
    height:var(--pagetop-inner-icon-height);
    width:var(--pagetop-inner-icon-width);
    border-top:var(--pagetop-inner-icon-border);
    border-right:var(--pagetop-inner-icon-border);
    transform:translateY(20%) rotate(-45deg);
    order:0;
}
.js-added-pagetop > p {
    color:var(--pagetop-color);
    font-size:var(--pagetop-inner-font-size);
    font-weight:var(--pagetop-inner-font-weight);
    order:1;
}
#pagetop > a > img {
    display:none;
}
/*-----------------------*/
/*外枠*/
.result .detail {
    border:var(--content-outline-border);
}
.owner-form {
    border:var(--content-outline-border);
}
/*テーブル*/
.js-added-table {
    border:var(--table-border);
}
.js-added-table-th {
    background-color:var(--table-th-background-color);
    color:var(--table-th-color);
    border:var(--table-border);
    padding:var(--table-padding);
    text-align:center; 
    vertical-align:middle;
}
.js-added-table-td {
    background-color:var(--table-td-background-color);
    color:var(--table-td-color);
    border:var(--table-border);
    padding:var(--table-padding);
    vertical-align: top;
}
.js-added-table-td > ul > li{
    color:var(--table-td-color);
}
.js-added-tab-contents {
    width:var(--tab-contents-width);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:row wrap;
}
input[name="js-added-tab-input"] {
    display:none;
}
.js-added-tab-label {
    background-color:var(--tab-contents-label-background-color); 
    color:var(--tab-contents-label-color); 
    text-align:center;
    padding:var(--tab-contents-label-padding);
    font-weight:var(--tab-contents-label-font-weight);
    cursor:pointer;
    display: block;
    float: left;
    order: -1;
}
input:checked + .js-added-tab-label {
    background-color:var(--tab-contents-label-checked-background-color);
    color:var(--tab-contents-label-checked-color);
    pointer-events:none;
}
input:disabled + .js-added-tab-label {
    opacity:.6;
    pointer-events:none;
}




.js-added-tab-label:hover {
    opacity:.6;
}
input:checked + .js-added-tab-label:hover {
    opacity:1;
}
input:disabled + .js-added-tab-label:hover {
    opacity:1;
}
.js-added-tab-content {
    display: none;
    width: 100%;
}
input:checked + .js-added-tab-label + .js-added-tab-content {
    display: block;
}







/*============================================================================*/
/*@media--m*/
/*============================================================================*/
@media screen and (max-width:750px) {
    /*============================================================================*/
    /*root*/
    :root {
        --content-wrap-padding:var(--volume-0);
    }
    /*============================================================================*/
    header {
        position:initial;
    }
    #content_wrap {
        padding:var(--content-wrap-padding);
    }
}


/*============================================================================*/
/*@media--s*/
/*============================================================================*/
@media screen and (max-width:375px) {
    /*============================================================================*/
    /*root*/
    :root {
        --pagetop-right:calc(var(--volume-20) * 1rem);
    }
    /*============================================================================*/
    #pagetop {
        right:var(--pagetop-right);
    }
}
