/*============================================================================*/
/*root*/
:root {
    /*<-----------------------color------------------------->*/
    /*media*/
    --media-bp-s:;
    --media-bp-m:;
    --media-bp-l:;
    --media-bp-ll:;
    /*color-settings*/
    --color-dddddd:#dddddd;
    --color-afafaf:#afafaf;
    --color-eee:#eee;
    
    --color-white:#fff;
    --color-black:#000;
    --color-bg-light:var(--color-white,);
    --color-bg-dark:var(--color-black);
    --color-theme-light:#f7f4f4;
    --color-theme-dark:#3f3f3f;
    --color-theme-font-light:#dfdfdf;
    --color-theme-font-dark:#2f2f2f;
    --color-theme-border-light:#dfdfdf;
    --color-theme-border-dark:#2f2f2f;
    --color-transparent:transparent;
    --color-table-bg-light:var(--color-dddddd);
    --color-table-bg-dark:;
    --color-table-border-light:var(--color-afafaf);
    --color-table-border-dark:;
    --color-tab-label-bg-light:#dfdfdf;
    --color-tab-label-bg-dark:#2f2f2f;
    /*<------------------------------------------------------>*/
    /*<-----------------------others------------------------->*/
    /*border*/
    --border-width:0.1rem;
    --border-color-light:var(--color-theme-border-light);
    --border-color-dark:var(--color-theme-border-dark);
    --border-style:solid;
    --border-light:var(--border-width) var(--border-color-light) var(--border-style);
    --border-dark:var(--border-width) var(--border-color-dark) var(--border-style);
    /*font-size*/
    --font-size:1rem;
    /*margin*/
    --margin:0;
    /*padding*/
    --padding:0;
    /*button*/
    --button-border:0;
    --button-border-radius:0.2rem;
    --button-font-weight:bold;
    --button-text-align:center;
    --button-cursor:pointer;
    --button-hover-opacity:0.6;
    --button-disabled-opacity:0.6;
    --button-disabled-pointer-events:none;
    --button-text-decoration:none;
    /*table*/
    --table-color:var(--color-theme-font-dark);
    --table-th-color:var(--color-theme-font-dark);
    --table-td-color:var(--color-theme-font-dark);
    --table-th-background-color:var(--color-table-bg-light);
    --table-td-background-color:var(--color-transparent);
    --table-border-width:0.1rem;
    --table-border-color:var(--color-table-border-light);
    --table-border-style:solid;
    --table-border:var(--table-border-width) var(--table-border-color) var(--table-border-style);
    /*tabcontents*/
    --tab-contents-label-color:var(--color-theme-font-dark);
    --tab-contents-label-checked-color:var(--color-theme-font-light);
    --tab-contents-label-background-color:var(--color-tab-label-bg-light);
    --tab-contents-label-checked-background-color:var(--color-tab-label-bg-dark);
    --tab-contents-label-border:0;
    --tab-contents-label-border-radius:0;
    --tab-contents-label-font-weight:bold;
    --tab-contents-label-text-align:center;
    --tab-contents-label-hover-opacity:0.6;
    --tab-contents-label-disabled-opacity:0.6;
    --tab-contents-label-cursor:pointer;
    --tab-contents-label-disabled-pointer-events:none;
    --tab-contents-label-text-decoration:none;
    --tab-contents-border:0;
    /*popovercontents*/
    --popover-close-button-right:0.6rem;
    --popover-close-button-top:0.6rem;
    --popover-backside-button-left:0;
    --popover-backside-button-top:0;
    --popover-backside-button-opacity:0.3;
    --popover-backside-button-background-color:var(--color-black);
    --popover-backside-button-border:0;
    --popover-contents-border:0;
    --popover-contents-background-color:var(--color-transparent);
    --popover-contents-backdrop-color:var(--color-black);
    --popover-contents-backdrop-opacity:0.6;
}
/*============================================================================*/
/*----------共通----------*/
/*スクロールバー*/
::-webkit-scrollbar{
    width:0.8rem;
    height:0.8rem;
}
::-webkit-scrollbar-track{
    background-color:var(--color-theme-border-light);
}
::-webkit-scrollbar-thumb{
    background-color:var(--color-theme-border-dark);
}
/*ページトップボタン*/
#pagetop {
    --right:3rem;
    --bottom:2rem;
    
    position:fixed;
    right:var(--right);
    bottom:var(--bottom);
}
#pagetop:hover {
    --button-hover-opacity:0.8;
    
    opacity:var(--button-hover-opacity);
}
.js-added-pagetop {
    --width:7.5rem;
    --height:5rem;
    --padding:0.7rem 0;
    --flex-flow:column nowrap;
    --justify-content:space-between;
    --align-items:center;
    --z-index:500;
    --opacity:0.6;

    width:var(--width);
    height:var(--height);
    padding:var(--padding);
    color:var(--color-white);
    background:var(--color-black);
    border:var(--button-border);
    border-radius:var(--button-border-radius);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:var(--flex-flow);
    justify-content:var(--justify-content);
    align-items:var(--align-items);
    z-index:var(--z-index);
    opacity:var(--opacity);
    cursor:var(--button-cursor);
}
.js-added-pagetop:hover {
    text-decoration:var(--button-text-decoration);
}
.js-added-pagetop-arrow {
    --width:2rem;
    --height:2rem;
    --border-top:0.4rem solid var(--color-white);
    --border-right:0.4rem solid var(--color-white);
    --order:0;
    
    width:var(--width);
    height:var(--height);
    border-top:var(--border-top);
    border-right:var(--border-right);
    transform:translateY(20%) rotate(-45deg);
    order:var(--order);
}
.js-added-pagetop > p {
    --font-size:1rem;
    --order:1;
    
    color:var(--color-white);
    font-size:var(--font-size);
    font-weight:var(--button-font-weight);
    order:var(--order);
}
#pagetop > a > img {
    display:none;
}
/*-----------------------*/
/*外枠*/
.result .detail {
    --border-width:0.3rem;
    
    border:var(--border-light);
}
.owner-form {
    --border-width:0.3rem;
    
    border:var(--border-light);
}
/*テーブル*/
.js-added-table {
    border:var(--table-border);
}
.js-added-table-th {
    --padding:1.2rem;
    --text-align:center;
    --vertical-align:middle;
    
    background-color:var(--table-th-background-color);
    color:var(--table-th-color);
    border:var(--table-border);
    padding:var(--padding);
    text-align:var(--text-align); 
    vertical-align:var(--vertical-align);
}
.js-added-table-td {
    --padding:1.2rem;
    --vertical-align:top;
    
    background-color:var(--table-td-background-color);
    color:var(--table-td-color);
    border:var(--table-border);
    padding:var(--padding);
    vertical-align:var(--vertical-align);
}
.js-added-table-td > ul > li{
    color:var(--table-td-color);
}
/*タブコンテンツ*/
.js-added-tab-contents {
    --width:100%;
    --flex-flow:row wrap;
    
    width:var(--width);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:var(--flex-flow);
}
input[name="js-added-tab-input"] {
    display:none;
}
.js-added-tab-label {
    --padding:1rem 0;
    
    background-color:var(--tab-contents-label-background-color); 
    color:var(--tab-contents-label-color); 
    text-align:var(--tab-contents-label-text-align);
    padding:var(--padding);
    font-weight:var(--tab-contents-label-font-weight);
    cursor:var(--tab-contents-label-cursor);
    display:block;
    float:left;
    order:-1;
}
input:checked + .js-added-tab-label {
    --pointer-events:none;
    
    background-color:var(--tab-contents-label-checked-background-color);
    color:var(--tab-contents-label-checked-color);
    pointer-events:var(--pointer-events);
}
input:disabled + .js-added-tab-label {
    opacity:var(--tab-contents-label-disabled-opacity);
    pointer-events:var(--tab-contents-label-disabled-pointer-events);
}
.js-added-tab-label:hover {
    opacity:var(--tab-contents-label-hover-opacity);
}
input:checked + .js-added-tab-label:hover {
    --opacity:1;
    
    opacity:var(--opacity);
}
input:disabled + .js-added-tab-label:hover {
    --opacity:1;
    
    opacity:var(--opacity);
}
.js-added-tab-content {
    --width:100%;
    
    display:none;
    width:var(--width);
}
input:checked + .js-added-tab-label + .js-added-tab-content {
    display: block;
}
/*ポップオーバーコンテンツ*/
.js-added-popover {
}
.js-added-popover-button {
    --width:100%;
    
    width:var(--width);
    text-align:var(--button-text-align);
    font-weight:var(--button-font-weight);
    border:var(--button-border);
    border-radius:var(--button-border-radius);
    cursor:var(--button-cursor);
}
.js-added-popover-button:hover {
    opacity:var(--button-hover-opacity);
}
.js-added-popover-button:disabled {
    opacity:var(--button-disabled-opacity);
    pointer-events:var(--button-disabled-pointer-events);
}
.js-added-popover-content {
    --popover-contents-background-color:var(--color-white);
    
    border:var(--popover-contents-border);
    background-color:var(--popover-contents-background-color);
}
.js-added-popover-content:popover-open {
}
.js-added-popover-content::backdrop {
    background-color:var(--popover-contents-backdrop-color);
    opacity:var(--popover-contents-backdrop-opacity);
}
.js-added-popover-close-button {
    --padding:0;
    
    position:absolute;
    right:var(--popover-close-button-right);
    top:var(--popover-close-button-top);
    text-align:var(--button-text-align);
    border:var(--button-border);
    cursor:var(--button-cursor);
    background-color:var(--color-transparent);
    padding:var(--padding);
}
.js-added-popover-close-button:hover {
    opacity:var(--button-hover-opacity);
}
.icon-close {
    --width:2.6rem;
    --height:2.6rem;
    
    display:block;
    width:var(--width);
    height:var(--height);
    position:relative;
    margin:auto;
}
.icon-close::before, .icon-close::after {
    --width:80%;
    --height:0.2rem;
    
    content:"";
    display:block;
    width:var(--width);
    height:var(--height);
    background:var(--color-black);
    transform:rotate(45deg);
    transform-origin:0% 50%;
    position:absolute;
    top:calc(21% - 1px);
    left:21%;
}
.icon-close::after {
    transform:rotate(-45deg);
    transform-origin:100% 50%;
    left:auto;
    right:21%;
}
.js-added-popover-content-backside-button {
    --z-index:-50000;
    
    z-index:var(--z-index);
}
.js-added-popover-content-backside-button.valid {
    --width:100vw;
    --height:100vh;
    --z-index:50000;
    
    width:var(--width);
    height:var(--height);
    position:fixed;
    top:var(--popover-backside-button-top);
    left:var(--popover-backside-button-left);
    background-color:var(--popover-backside-button-background-color);
    opacity:var(--popover-backside-button-opacity);
    border:var(--popover-backside-button-border);
    z-index:var(--z-index);
}

/*============================================================================*/
/*@media--m*/
/*============================================================================*/
@media screen and (max-width:750px) {
    /*============================================================================*/
    /*root*/
    :root {
    }
    /*============================================================================*/
    header {
        position:initial;
    }
    #content_wrap {
        --padding:0;
        
        padding:var(--padding);
    }
}

/*============================================================================*/
/*@media--s*/
/*============================================================================*/
@media screen and (max-width:375px) {
    /*============================================================================*/
    /*root*/
    :root {
    }
    /*============================================================================*/
    #pagetop {
        --right:2rem;
    }
}
