/*============================================================================*/
/*root*/
:root {
    /*<-----------------------SETTINGS------------------------->*/
    /*media*/
    --media-bp-s:;
    --media-bp-m:;
    --media-bp-l:;
    --media-bp-ll:;
    /*color*/
    --color:;
    /*width*/
    --width:0;
    /*height*/
    --height:0;
    /*margin*/
    --margin:0;
    /*padding*/
    --padding:0;
    /*border*/
    --border-width:0;
    --border-color:;
    --border-style:solid;
    --border:var(--border-width, 0) var(--border-color, #) var(--border-style, solid);
    /*border-radius*/
    --border-radius:0;




    
    /*volume*/
    --volume-none:none;
    --volume-0:0;
    --volume-1:0.1;
    --volume-2:0.2;
    --volume-3:0.3;
    --volume-4:0.4;
    --volume-5:0.5;
    --volume-6:0.6;
    --volume-7:0.7;
    --volume-8:0.8;
    --volume-9:0.9;
    --volume-10:1;
    --volume-12:1.2;
    --volume-14:1.4;
    --volume-16:1.6;
    --volume-18:1.8;
    --volume-20:2;
    --volume-22:2.2;
    --volume-24:2.4;
    --volume-26:2.6;
    --volume-28:2.8;
    --volume-30:3;
    --volume-40:4;
    --volume-50:5;
    /*color*/
    --color-transparent:transparent;
    --color-white:#fff;
    --color-black:#000;
    --color-border-light:#dfdfdf;
    --color-border-dark:;
    --color-background-light:#f7f4f4;
    --color-background-dark:#3f3f3f;
    --color-dddddd:#dddddd;
    --color-afafaf:#afafaf;
    --color-eee:#eee;
    /*border-width*/
    --border-width-volatility:calc(var(--volume-1) * 1rem);
    --border-width-none:0;
    --border-width-base:calc(var(--volume-1) * 1rem);
    --border-width-s:calc(var(--border-width-base) + var(--border-width-volatility));
    --border-width-m:calc(var(--border-width-s) + var(--border-width-volatility));
    --border-width-l:calc(var(--border-width-m) + var(--border-width-volatility));
    --border-width-ll:calc(var(--border-width-l) + var(--border-width-volatility));
    /*font-size*/
    --font-size-volatility:calc(var(--volume-2) * 1rem);
    --font-size-base:calc(var(--volume-8) * 1rem);
    --font-size-xs:calc(var(--font-size-base) + var(--font-size-volatility));
    --font-size-ss:calc(var(--font-size-xs) + var(--font-size-volatility));
    --font-size-s:calc(var(--font-size-ss) + var(--font-size-volatility));
    --font-size-m:calc(var(--font-size-s) + var(--font-size-volatility));
    --font-size-l:calc(var(--font-size-m) + var(--font-size-volatility));
    --font-size-ll:calc(var(--font-size-l) + var(--font-size-volatility));
    --font-size-xl:calc(var(--font-size-ll) + var(--font-size-volatility));
    /*<------------------------------------------------------>*/
    /*button*/
    --button-style-border:var(--border-width-none);
    --button-style-border-radius:calc(var(--volume-2) * 1rem);
    --button-style-padding-volatility:calc(var(--volume-2) * 1rem);
    --button-style-padding-base:calc(var(--volume-8) * 1rem) 0;
    --button-style-padding-ss:calc(var(--button-style-padding-base) + var(--button-style-padding-volatility)) 0;
    --button-style-padding-s:calc(var(--button-style-padding-ss) + var(--button-style-padding-volatility)) 0;
    --button-style-padding-m:calc(var(--button-style-padding-s) + var(--button-style-padding-volatility)) 0;
    --button-style-padding-l:calc(var(--button-style-padding-m) + var(--button-style-padding-volatility)) 0;
    --button-style-padding-ll:calc(var(--button-style-padding-l) + var(--button-style-padding-volatility)) 0;
    --button-style-font-size-volatility:calc(var(--volume-2) * 1rem);
    --button-style-font-size-base:var(--font-size-base);
    --button-style-font-size-ss:calc(var(--button-style-font-size-base) + var(--button-style-font-size-volatility));
    --button-style-font-size-s:calc(var(--button-style-font-size-ss) + var(--button-style-font-size-volatility));
    --button-style-font-size-m:calc(var(--button-style-font-size-s) + var(--button-style-font-size-volatility));
    --button-style-font-size-l:calc(var(--button-style-font-size-m) + var(--button-style-font-size-volatility));
    --button-style-font-size-ll:calc(var(--button-style-font-size-l) + var(--button-style-font-size-volatility));
    --button-style-font-weight:bold;
    --button-style-text-align:center;
    --button-style-cursor:pointer;
    --button-hover-opacity:var(--volume-6);
    --button-disabled-opacity:var(--volume-6);
    --button-disabled-pointer-events:none;
    /*a*/
    /*table*/
    --table-color:var(--color-background-dark);
    --table-th-color:var(--color-background-dark);
    --table-td-color:var(--color-background-dark);
    --table-th-background-color:var(--color-dddddd);
    --table-td-background-color:transparent;
    --table-border-width:calc(var(--volume-1) * 1rem);
    --table-border-color:var(--color-afafaf);
    --table-border-style:solid;
    --table-border:var(--table-border-width) var(--table-border-color) var(--table-border-style);
    --table-style-font-size-volatility:calc(var(--volume-2) * 1rem);
    --table-style-font-size-base:var(--font-size-base);
    --table-style-font-size-ss:calc(var(--table-style-font-size-base) + var(--table-style-font-size-volatility));
    --table-style-font-size-s:calc(var(--table-style-font-size-ss) + var(--table-style-font-size-volatility));
    --table-style-font-size-m:calc(var(--table-style-font-size-s) + var(--table-style-font-size-volatility));
    --table-style-font-size-l:calc(var(--table-style-font-size-m) + var(--table-style-font-size-volatility));
    --table-style-font-size-ll:calc(var(--table-style-font-size-l) + var(--table-style-font-size-volatility));
    --table-th-font-size:--table-style-font-size-s;
    --table-td-font-size:--table-style-font-size-s;
    --table-style-padding-volatility:calc(var(--volume-2) * 1rem);
    --table-style-padding-base:calc(var(--volume-8) * 1rem);
    --table-style-padding-ss:calc(var(--table-style-padding-base) + var(--table-style-padding-volatility));
    --table-style-padding-s:calc(var(--table-style-padding-ss) + var(--table-style-padding-volatility));
    --table-style-padding-m:calc(var(--table-style-padding-s) + var(--table-style-padding-volatility));
    --table-style-padding-l:calc(var(--table-style-padding-m) + var(--table-style-padding-volatility));
    --table-style-padding-ll:calc(var(--table-style-padding-l) + var(--table-style-padding-volatility));
    /*tabcontents*/
    --tab-contents-width:100%;
    --tab-contents-margin:;
    --tab-contents-style-padding-volatility:calc(var(--volume-2) * 1rem);
    --tab-contents-style-padding-base:calc(var(--volume-8) * 1rem) 0;
    --tab-contents-style-padding-ss:calc(var(--tab-contents-style-padding-base) + var(--tab-contents-style-padding-volatility)) 0;
    --tab-contents-style-padding-s:calc(var(--tab-contents-style-padding-ss) + var(--tab-contents-style-padding-volatility)) 0;
    --tab-contents-style-padding-m:calc(var(--tab-contents-style-padding-s) + var(--tab-contents-style-padding-volatility)) 0;
    --tab-contents-style-padding-l:calc(var(--tab-contents-style-padding-m) + var(--tab-contents-style-padding-volatility)) 0;
    --tab-contents-style-padding-ll:calc(var(--tab-contents-style-padding-l) + var(--tab-contents-style-padding-volatility)) 0;
    --tab-contents-padding:;
    --tab-contents-label-color:var(--color-background-dark);
    --tab-contents-label-checked-color:var(--color-dddddd);
    --tab-contents-label-background-color:var(--color-dddddd);
    --tab-contents-label-checked-background-color:var(--color-background-dark);
    --tab-contents-label-margin:;
    --tab-contents-label-padding:var(--tab-contents-style-padding-ss);
    --tab-contents-label-font-size-volatility:calc(var(--volume-2) * 1rem);
    --tab-contents-label-font-size-base:var(--font-size-base);
    --tab-contents-label-font-size-ss:calc(var(--tab-contents-label-font-size-base) + var(--tab-contents-label-font-size-volatility));
    --tab-contents-label-font-size-s:calc(var(--tab-contents-label-font-size-ss) + var(--tab-contents-label-font-size-volatility));
    --tab-contents-label-font-size-m:calc(var(--tab-contents-label-font-size-s) + var(--tab-contents-label-font-size-volatility));
    --tab-contents-label-font-size-l:calc(var(--tab-contents-label-font-size-m) + var(--tab-contents-label-font-size-volatility));
    --tab-contents-label-font-size-ll:calc(var(--tab-contents-label-font-size-l) + var(--tab-contents-label-font-size-volatility));
    --tab-contents-label-font-size:--table-style-font-size-s;
    --tab-contents-label-font-weight:bold;
    --tab-contents-label-cursor:pointer;
    /*popovercontents*/
    --popover-button-width:100%;
    --popover-close-button-right:calc(var(--volume-6) * 1rem);
    --popover-close-button-top:calc(var(--volume-6) * 1rem);
    --popover-backside-button-left:var(--volume-0);
    --popover-backside-button-top:var(--volume-0);
    --popover-backside-button-opacity:var(--volume-3);
    --popover-backside-button-color:var(--color-black);
    --popover-backside-button-border:var(--border-width-none);
    --popover-contents-border:var(--border-width-none);
    --popover-contents-backdrop-color:var(--color-black);
    --popover-contents-backdrop-opacity:var(--volume-6);
    
}
/*============================================================================*/
/*----------共通----------*/
/*スクロールバー*/
::-webkit-scrollbar{
    width:calc(var(--volume-8) * 1rem);
    height:calc(var(--volume-8) * 1rem);
}
::-webkit-scrollbar-track{
    background-color:var(--color-background-light);
}
::-webkit-scrollbar-thumb{
    background-color:var(--color-background-dark);
}
/*ページトップボタン*/
#pagetop {
    position:fixed;
    right:calc(var(--volume-30) * 1rem);
    bottom:calc(var(--volume-20) * 1rem);
}
#pagetop:hover {
    opacity:var(--volume-8);
}
.js-added-pagetop {
    width:7.5rem;
    height:5rem;
    padding:calc(var(--volume-7) * 1rem) 0;
    color:var(--color-white);
    background:var(--color-black);
    border:var(--volume-0);
    border-radius:calc(var(--volume-2) * 1rem);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;
    z-index:500;
    opacity:var(--volume-6);
}
.js-added-pagetop:hover {
    text-decoration:none;
}
.js-added-pagetop-arrow {
    height:calc(var(--volume-20) * 1rem);
    width:calc(var(--volume-20) * 1rem);
    border-top:calc(var(--volume-4) * 1rem) solid var(--color-white);
    border-right:calc(var(--volume-4) * 1rem) solid var(--color-white);
    transform:translateY(20%) rotate(-45deg);
    order:0;
}
.js-added-pagetop > p {
    color:var(--color-white);
    font-size:calc(var(--volume-10) * 1rem);
    font-weight:bold;
    order:1;
}
#pagetop > a > img {
    display:none;
}
/*-----------------------*/
/*外枠*/
.result .detail {
    border:var(--border-width-m) var(--color-border-light) solid;
}
.owner-form {
    border:var(--border-width-m) var(--color-border-light) solid;
}
/*テーブル*/
.js-added-table {
    border:var(--table-border);
}
.js-added-table-th {
    background-color:var(--table-th-background-color);
    color:var(--table-th-color);
    border:var(--table-border);
    padding:var(--table-style-padding-s);
    text-align:center; 
    vertical-align:middle;
}
.js-added-table-td {
    background-color:var(--table-td-background-color);
    color:var(--table-td-color);
    border:var(--table-border);
    padding:var(--table-style-padding-s);
    vertical-align: top;
}
.js-added-table-td > ul > li{
    color:var(--table-td-color);
}
/*タブコンテンツ*/
.js-added-tab-contents {
    width:var(--tab-contents-width);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:row wrap;
}
input[name="js-added-tab-input"] {
    display:none;
}
.js-added-tab-label {
    background-color:var(--tab-contents-label-background-color); 
    color:var(--tab-contents-label-color); 
    text-align:center;
    padding:var(--tab-contents-label-padding);
    font-weight:var(--tab-contents-label-font-weight);
    cursor:var(--tab-contents-label-cursor);
    display: block;
    float: left;
    order: -1;
}
input:checked + .js-added-tab-label {
    background-color:var(--tab-contents-label-checked-background-color);
    color:var(--tab-contents-label-checked-color);
    pointer-events:none;
}
input:disabled + .js-added-tab-label {
    opacity:var(--volume-6);
    pointer-events:none;
}
.js-added-tab-label:hover {
    opacity:var(--volume-6);
}
input:checked + .js-added-tab-label:hover {
    opacity:var(--volume-10);
}
input:disabled + .js-added-tab-label:hover {
    opacity:var(--volume-10);
}
.js-added-tab-content {
    display:none;
    width:var(--tab-contents-width);
}
input:checked + .js-added-tab-label + .js-added-tab-content {
    display: block;
}
/*ポップオーバーコンテンツ*/
.js-added-popover {
}
.js-added-popover-button {
    width:var(--popover-button-width);
    text-align:var(--button-style-text-align);
    font-weight:var(--button-style-font-weight);
    border:var(--button-style-border);
    border-radius:var(--button-style-border-radius);
    cursor:var(--button-style-cursor);
}
.js-added-popover-button:hover {
    opacity:var(--button-hover-opacity);
}
.js-added-popover-button:disabled {
    opacity:var(--button-disabled-opacity);
    pointer-events:var(--button-disabled-pointer-events);
}
.js-added-popover-content {
    border:var(--popover-contents-border);
}
.js-added-popover-content:popover-open {
}
.js-added-popover-content::backdrop {
    background-color:var(--popover-contents-backdrop-color);
    opacity:var(--popover-contents-backdrop-opacity);
}
.js-added-popover-close-button {
    position:absolute;
    right:var(--popover-close-button-right);
    top:var(--popover-close-button-top);
    text-align:var(--button-style-text-align);
    border:var(--button-style-border);
    cursor:var(--button-style-cursor);
    background-color:var(--color-transparent);
    padding:var(--volume-0);
}
.js-added-popover-close-button:hover {
    opacity:var(--button-hover-opacity);
}
.icon-close {
    display:block;
    width:calc(var(--volume-26) * 1rem);
    height:calc(var(--volume-26) * 1rem);
    position:relative;
    margin:auto;
}
.icon-close::before, .icon-close::after {
    content:"";
    display:block;
    width:80%;
    height:calc(var(--volume-2) * 1rem);
    background:var(--color-black);
    transform:rotate(45deg);
    transform-origin:0% 50%;
    position:absolute;
    top:calc(21% - 1px);
    left:21%;
}
.icon-close::after {
    transform:rotate(-45deg);
    transform-origin:100% 50%;
    left:auto;
    right:21%;
}
.js-added-popover-content-backside-button {
    z-index:-50000;
}
.js-added-popover-content-backside-button.valid {
    width:100vw;
    height:100vh;
    position:fixed;
    top:var(--popover-backside-button-top);
    left:var(--popover-backside-button-left);
    background-color:var(--popover-backside-button-color);
    opacity:var(--popover-backside-button-opacity);
    border:var(--popover-backside-button-border);
    z-index:50000;
}






/*============================================================================*/
/*@media--m*/
/*============================================================================*/
@media screen and (max-width:750px) {
    /*============================================================================*/
    /*root*/
    :root {
    }
    /*============================================================================*/
    header {
        position:initial;
    }
    #content_wrap {
        padding:var(--volume-0);
    }
}

/*============================================================================*/
/*@media--s*/
/*============================================================================*/
@media screen and (max-width:375px) {
    /*============================================================================*/
    /*root*/
    :root {
    }
    /*============================================================================*/
    #pagetop {
        right:calc(var(--volume-20) * 1rem);
    }
}
