/*root*/
:root {
    /*media*/
    --media-width-s:;
    --media-width-m:;
    --media-width-l:;
    --media-width-ll:;
    /*color*/
    --color-white:#fff;
    --color-black:#000;
    --color-dfdfdf:#dfdfdf;
    --color-f7f4f4:#f7f4f4;
    /*border*/
    --border-none:0;
    --border-1:0.1rem;
    --border-2:0.2rem;
    --border-3:0.3rem;
    --border-4:0.4rem;
    --border-5:0.5rem;
    /*button*/
    --button-border:var(--border-none);
    --button-border-radius:var(--border-2);
    --button-opacity:.6;
    /*content*/
    --content-outline-border-width:var(--border-3);
    --content-outline-border-color:var(--color-dfdfdf);
    --content-outline-border-style:solid;
    --content-outline-border:var(--content-outline-border-width) var(--content-outline-border-color) var(--content-outline-border-style);
    --content-outline-background-color:var(--color-f7f4f4);
    /*pagetop*/
    --pagetop-color:var(--color-white);
    --pagetop-background:var(--color-black);
}
/*------------------------*/
/*スクロールバー*/
::-webkit-scrollbar{
    width:0.8rem;
    height:0.8rem;
}
::-webkit-scrollbar-track{
    background-color:#dddddd;
}
::-webkit-scrollbar-thumb{
    background-color:#3f3f3f;
}
/*外枠*/
.result .detail {
    border:var(--content-outline-border);
}
.owner-form {
    border:var(--content-outline-border);
}
/*ページトップボタン*/
#pagetop {
    position:fixed;
    right:30px;
    bottom:20px;
}
#pagetop:hover {
    opacity:.8;
}
.js-added-pagetop {
    width:75px;
    height:50px;
    padding:0.7rem 0;
    color:var(--pagetop-color);
    background:var(--pagetop-background);
    border:var(--button-border);
    border-radius:var(--button-border-radius);
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;
    z-index:500;
    opacity:var(--button-opacity);
}
.js-added-pagetop:hover {
    text-decoration:none;
}
.js-added-pagetop-arrow {
    height:2rem;
    width:2rem;
    border-top:0.4rem solid var(--pagetop-color);
    border-right:0.4rem solid var(--pagetop-color);
    transform:translateY(20%) rotate(-45deg);
    order:0;
}
.js-added-pagetop > p {
    color:var(--pagetop-color);
    font-size:1rem;
    font-weight:bold;
    order:1;
}
#pagetop > a > img {
    display:none;
}
@media screen and (max-width:var(--media-width-m);) {
    header {
        position:initial;
    }
    #content_wrap {
        padding:0;
    }
}
@media screen and (max-width:var(--media-width-s);) {
    #pagetop {
        right:20px;
    }
}
